.mainNav{
    position: fixed;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    z-index: 950;
    top:0;
    left:0;
    width: 100%;
    backdrop-filter: blur(10px);
}

.hamburgerMenu{
    display: none
}

.getStartedWrapper{
    display: inline-block;
}

.topbar{
    background-color: var(--primary-color);
    padding: 0.2vw 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topbarHeadline{
    font-weight: 600;
    font-family: var(--secondary-font);
    color: var(--secondary-text-color);
    font-size: 1.1rem;
}

.contactInfo, .phoneContact{
    display: flex;
    align-items: center;
}
.topbarLink{
    margin: 0 0.5vw;
}
.phoneContact{
color: var(--secondary-text-color);
font-weight: 700;
text-decoration: none;
}

.topbarLink img{
    width: 1.2vw;
    aspect-ratio: 1/1;
}
.phoneContact img{
    width: 1.6vw;
}

.mainContent{
    padding: 0.2vw 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--primary-text-color);
}
.logo img{
    width: 3.5vw;
}
.logo span{
    margin-left: 1vw;
    font-size: 2.4rem;
    font-family: var(--secondary-font);
    font-weight: 600;
}
.navLinks menu{
    display: inline-block;
}
.navLinks li:not(.seperator){
    margin: 0 1vw;
}
.navLinks li{
    display: inline-block;
    font-family: var(--secondary-font);
    font-size: 1.4rem;
    position: relative;
}
.navLinks li:not(.seperator)::after{
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--primary-color);
    bottom: 6px;
    left: 0;
    width: 0;
    transition: 0.4s width;
    pointer-events: none;
}
.navLinks li:not(.seperator):hover::after{
    width: 100%;
}
.navLinks li a{
    color: var(--main-text-color);
    text-decoration: none;
    font-weight: 500;
}

.getStartedButton{
    margin-left: 2vw;
    color: var(--secondary-text-color);
    background-color: var(--primary-color);
    text-decoration: none;
    font-family: var(--primary-font);
    font-size: 1.3rem;
    font-weight: 700;
    padding: 0.5vw 2vw;
    border-radius: 10px;
    transition: 0.3s filter;
}
.getStartedButton:hover{
    filter: brightness(75%);
}

/* MEDIUM LAPTOP STYLES */
@media only screen and (min-width: 991px) and (max-width: 1900px){
    .topbarLink{
        margin: 0 0.6vw;
    }
    
    .topbarLink img{
        width: 1.6vw;
    }
    .phoneContact img{
        width: 2.2vw;
    }
    
    .mainContent{
        padding: 0.6vw 5vw;
    }
    
    .logo img{
        width: 3.7vw;
    }

    .navLinks li{
        font-size: 1.4rem;
    }

    .getStartedButton{
        font-size: 1.4rem;
        padding: 0.5vw 2.5vw;
    }
}


/* TABLET/MOBILE STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    
    .topbar{
        padding: 0.6vw 2vw;
    }
    
    .topbarHeadline{
        font-size: 1.1rem;
    }
    
    .topbarLink{
        margin: 0 1vw;
    }
    
    .topbarLink img{
        width: 2.5vw;
        aspect-ratio: 1/1;
    }
    .phoneContact img{
        width: 3.5vw;
    }
    
    .mainContent{
        padding: 0.4vw 2vw;
    }
    
    .logo img{
        width: 6vw;
    }
    .logo span{
        margin-left: 1vw;
        font-size: 2.2rem;
    }
    .navLinks li:not(.seperator){
        margin: 0 1vw;
    }
    .navLinks li{
        font-size: 1.3rem;
    }
    .navLinks li:not(.seperator)::after{
        height: 2px;
    }
    
    .getStartedButton{
        padding: 0.8vw 2vw;
        border-radius: 8px;
    }
}

 
/* MOBILE STYLES */
@media only screen and (max-width: 649px){
    .getStartedWrapper{
        display: flex;
        align-items: center;
    }
    .hamburgerMenu{
        display: inline-block;
        position: relative;
        width: 12vw;
        aspect-ratio: 1/1;
        background-image: url("/icons/hamburger-menu.svg");
        background-color: transparent;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 4vw;
        border: none;
        transition: 0.3s scale;
    }
    .topbar{
        padding: 1vw 2vw;
        justify-content: center;
    }
    
    .topbarLink{
        display: none;
    }
    
    .mainContent{
        padding: 1vw 3vw;
    }
    
    .logo img{
        width: 10vw;
    }
    .logo span{
        margin-left: 1vw;
        font-size: 1.8rem;
    }
    .navLinks menu{
        position: absolute;
        background-color: var(--primary-color);
        width: 50vw;
        right: 0;
        top:100%;
        z-index: 990;
        transition: 0.3s clip-path;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .navLinks li:not(.seperator){
        margin: 3vw 2vw;
        display: block;
    }
    .navLinks li a{
        display: block;
    }
    
    .navLinks li{
        font-size: 1.4rem;
        color: var(--secondary-text-color);
    }
    .navLinks li.seperator{
        display: none;
    }
    .navLinks li:not(.seperator)::after{
        display: none;
    }
    
    .getStartedButton{
        margin-left: 2vw;
        font-size: 1.5rem;
        padding: 1vw 4vw;
        border-radius: 999px;
    }
}