.pageTitle{
    padding: calc(var(--section-padding-top) * 1.5) 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--secondary-text-color);
}

.pageTitle h1{
    font-size: 5rem;
}