.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: var(--section-padding-top);
}

.header h4{
    font-family: var(--secondary-font);
    color: var(--primary-color);
    font-size: 1.1rem;
    line-height: 100%;
}

.header h2{
    font-family: var(--secondary-font);
    font-size: 2.8rem;
    line-height: 125%;
    width: 30%;
    text-align: center;
}

.header p{
    padding-top: 1vw;
    text-align: center;
    font-size: 1.2rem;
    width: 35%;
    line-height: 200%;
}

/* MEDIUM LAPTOP STYLES */
@media only screen and (min-width: 1401px) and (max-width: 1919px){
    .header h2{
        width: 34%;
    }
    
    .header p{
        width: 35%;
        margin-top: 1.2vw;
    }
    
}

/* SMALL LAPTOP STYLES */
@media only screen and (min-width: 991px) and (max-width: 1400px){
    .header h2{
        width: 40%;
    }
    
    .header p{
        width: 50%;
        margin-top: 1.4vw;
    }
}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    .header h2{
        width: 55%;
    }
    
    .header p{
        width: 60%;
        margin-top: 1.6vw;
    }
    
}
 
/* MOBILE STYLES */
@media only screen and (max-width: 649px){
    .header h2{
        width: 80%;
        font-size: 2.6rem;
    }
    
    .header p{
        width: 80%;
        margin-top: 3vw;
    }
}