.visitContent{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: calc(var(--section-padding-top) * 2) 0;
}

.content{
    width: 35%;
}

.visitContent h2{
    font-size: 3rem;
}

.visitContent p{
    margin: 2vw 0;
    font-family: var(--secondary-font);
    width: 80%;
    font-size: 1.2rem;
    line-height: 200%;
}

.imgWrapper{
    width: 25%;
}

.imgContainer{
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
}

.imgContainer::after{
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -1vw;
    right: -1vw;
    background-color: var(--primary-color);
    z-index: -1;
}

.imgContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    .content{
        width: 45%;
    }
    .imgWrapper{
        width: 35%;
    }
    .visitContent p{
        margin: 3vw 0;
    }
}
 
/* MOBILE STYLES */
@media only screen and (max-width: 649px){
    .visitContent{
        flex-direction: column-reverse;
        gap: 4vw;
    }
    
    .content{
        width: 80%;
    }
    
    .visitContent p{
        margin: 4vw 0;
        width: 100%;
        font-size: 1.3rem;
    }
    
    .imgWrapper{
        width: 60%;
    }
    .buttonWrapper{
        display: flex;
        justify-content: center;
    }
    
    .imgContainer::after{
        top: -2vw;
        right: -2vw;
    }
}