.section{
    padding: 5vw 0;
    flex-direction: column;
    position: relative;
    
}

.section h1{
    padding-bottom: 2vw;
    z-index: 10;
}
.section h3{
    z-index: 10;
}

.faqItem{
    box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
    overflow: hidden;
    width: 50%;
    margin: 1vw;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
    
}

.mainBg{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    top:0;
    left:0;
    z-index: 0;
    opacity: 0.1;
}

.headingContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    user-select: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.6rem;
    transition: 0.3s background-color ease-in-out;
}

.headingContent:hover{
    background-color: rgba(0,0,0,0.05);
}

.headingContent img{
    width: 3vw;
}

.faqItemAnswer p{
    padding: 1vw 2vw;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 180%;
}

/* MEDIUM LAPTOP STYLES */
@media only screen and (min-width: 991px) and (max-width: 1900px){
    
    .headingContent{
        padding: 0.1vw 2vw;
        font-size: 1.6rem;
    }
    
    .headingContent img{
        width: 3.5vw;
    }
}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    .section{
        padding: 6vw 0;
        
    }
    
    .section h1{
        padding-bottom: 3vw;
        text-align: center;
    }
    
    .faqItem{
        width: 60%;
        margin: 1vw;
        border-radius: 12px;
        
    }
    
    .headingContent{
        padding: 0.5vw 3vw;
    }
    
    .headingContent img{
        width: 4vw;
    }
    
    .faqItemAnswer p{
        padding: 1vw 2vw;
        font-size: 1.3rem;
        line-height: 150%;
    }
}
 
/* MOBILE STYLES */
@media only screen and (max-width: 649px){
    .section{
        padding: 6vw 0;
        
    }
    
    .section h1{
        padding-bottom: 4vw;
        font-size: 4rem;
        text-align: center;
    }
    
    .faqItem{
        width: 90%;
        margin: 2vw;
        border-radius: 8px;
        
    }
    
    .headingContent{
        padding: 1vw 6vw;
    }
    
    .headingContent img{
        width: 8vw;
    }
    
    .faqItemAnswer p{
        padding: 1vw 2vw;
        font-size: 1.4rem;
        line-height: 150%;
    }
}
