.form{
    box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.1);
    border-radius: 2px;
    padding: 1.5vw 0.5vw;
    width: 20vw;
    --vertical-padding: 0.7vw;
    --disabled-grey: #c2c2c2;
}

.header h2{
    /* font-family: var(--secondary-font); */
    text-align: center;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
}
.header h4{
    text-align: center;
    font-weight: 400;
    font-size: 0.9rem;
    padding: var(--vertical-padding) 0;
    letter-spacing: 0.05rem;
}

.contentWrapper{
    position: relative;
    min-height: 10vw;
    
}
.swiper{
    padding: 1vw 0.5vw;
    /* width: 100%; */
}

/* Full Input Styles */

.contentWrapper input:not(input[type='submit']):not(input[type='hidden']), .contentWrapper select, .contentWrapper textarea{
    display: inline-block;
    position: relative;
    width: 90%;
    padding: 0.8vw 5% !important;
    margin: var(--vertical-padding) 0;
    border: 1px solid var(--disabled-grey) !important;
    outline: 1px solid transparent !important;
    border-radius: 10px;
    color: var(--primary-text-color);
}

.contentWrapper input:not(input[type='submit']):not(input[type='hidden'])::placeholder, .contentWrapper textarea::placeholder{
    color: var(--disabled-grey);
}

.contentWrapper input:not(input[type='submit']):not(input[type='hidden']):focus, .contentWrapper textarea:focus, .contentWrapper select:focus{
    border: 1px solid var(--primary-color) !important;
    outline: 1px solid var(--primary-color) !important;
}

/* Checkbox Input Styles */

.contentWrapper div[data-class="checkbox"]{
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5vw;
}

.contentWrapper div[data-class="checkbox"] input[type='checkbox']{
    width: auto !important;
}

.contentWrapper div[data-class="checkbox"] label{
    width: auto !important;
}


/* Select Input Styles */

.contentWrapper select{
    position: relative;
    width: 100% !important;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}
.contentWrapper div[data-class="select"]{
    position: relative;
}
.contentWrapper div[data-class="select"]::after{
    content: "";
    display: inline-block;
    position: absolute;
    right: 2%;
    top:25%;
    height: 50%;
    aspect-ratio: 1/1;
    background-image: url("/icons/caret-down.svg");
    pointer-events: none;
    background-size: 100%;
    background-position: center;
    transition: 0.3s transform;
}

.contentWrapper div[data-class="select"]:has(select[data-isopen="true"])::after{
    transform: rotate(180deg);
}

/* Textarea Input Styles */

.contentWrapper textarea{
    resize: none;
    height: 5vw;
}

/* Radio Input Styles */

.contentWrapper div[data-class="radio"]{
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5vw;
}

.contentWrapper div[data-class="radio"] label{
    width: auto !important;
}

.contentWrapper div[data-class="radio"] input{
    width: auto !important;
}

.contentWrapper *[data-class="bold"]{
    font-weight: bold;
}

/* Date Input Styles */

.contentWrapper div[data-class="date"]{
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5vw;
}

.contentWrapper div[data-class="date"] input{
    width: auto !important;
}


.contentWrapper div[data-class="date"] label{
    width: auto !important;
}


/* Label styles */

.contentWrapper label{
    padding: calc( var(--vertical-padding) / 2) 0;
    display: inline-block;
    width: 100%;
}

.contentWrapper label + input[type='text'], .contentWrapper label + input[type='email'], .contentWrapper label + input[type='number'], .contentWrapper label + input[type='password'], .contentWrapper label + input[type='tel'], .contentWrapper label[data-class="select-label"] + div[data-class="select"] select, .contentWrapper label + textarea, .contentWrapper div[data-class='half-input'] label + input:not(input[type='submit']):not(input[type='hidden']){
    margin:calc( var(--vertical-padding) / 2) 0 var(--vertical-padding) 0 !important;
}

/* Half Input / Label Styles */

.contentWrapper div[data-class="half-input"] input:not(input[type='submit']):not(input[type='hidden']){
    display: inline-block;
    padding: 0.6vw 2.5%;
    margin: var(--vertical-padding) 0;
    border: 1px solid var(--disabled-grey);
    outline: 1px solid transparent;
    /* border-radius: 2px; */
}

.contentWrapper div[data-class="half-input"]{
    display: inline-block;
    width: 48%;
    padding-right: 2%;
}
.contentWrapper div div[data-class="half-input"]+div{
    padding-right: 0;
    padding-left: 2%;
}

/* Nav Buttons */

.navButtonsWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    padding: var(--vertical-padding) 5%;
}

.navButton{
    width: 40%;
    padding: 0.5vw 0;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}

.forwardButton{
    position: relative;
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    border: 1px solid var(--primary-color);
    transition: 0.3s filter, 0.3s transform;
}

.forwardButton:hover{
    filter: brightness(80%);
    transform: translateY(-2px);
}

.forwardButton:active{
    filter: brightness(70%);
    transform: translateY(-2px);
}

.backButton{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transition: 0.3s filter, 0.3s transform;
}

.backButton:hover{
    transform: translateY(-2px);
}

.backButton:active{
    filter: brightness(80%);
    transform: translateY(-2px);
}

.backButton.disabled{
    border: 1px solid var(--disabled-grey);
}


/* Utility Selectors */

.hidden{
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.disabled{
    pointer-events: none;
    color: var(--disabled-grey);
}



/* SMALL LAPTOP STYLES */
@media only screen and (min-width: 991px) and (max-width: 1400px){
    .form{
        width: 22vw;
    }
}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    .form{
        padding: 2vw 1vw;
        width: 36vw;
        --vertical-padding: 1.4vw;
    }
    
    .header h2{
        font-size: 1.9rem;
        letter-spacing: 0.08rem;
    }
    .header h4{
        letter-spacing: 0.03rem;
    }
    
    .contentWrapper{
        min-height: 15vw;
        padding: 1.5vw 1vw;
    }
    
    /* Full Input Styles */
    
    .contentWrapper input:not(input[type='submit']):not(input[type='hidden']), .contentWrapper select, .contentWrapper textarea{
        padding: 1.2vw 5% !important;
        border-radius: 8px;
    }
    
    /* Checkbox Input Styles */
    
    .contentWrapper div[data-class="checkbox"]{
        gap: 0.8vw;
    }
    
    
    /* Textarea Input Styles */
    
    .contentWrapper textarea{
        resize: none;
        height: 5vw;
    }
    
    /* Radio Input Styles */
    
    .contentWrapper div[data-class="radio"]{
        gap: 0.8vw;
    }
    
    
    /* Date Input Styles */
    
    .contentWrapper div[data-class="date"]{
        gap: 0.8vw;
    }

    /* Label styles */
    
    /* Half Input / Label Styles */
    
    .contentWrapper div[data-class="half-input"] input:not(input[type='submit']):not(input[type='hidden']){
        padding: 0.5vw 2.5%;
    }
    
    /* Nav Buttons */
    
    .navButtonsWrapper{
        font-size: 1.1rem;
    }
    
    .navButton{
        width: 42%;
        padding: 0.8vw 0;
        border-radius: 5px;
    }
}
 
/* MOBILE STYLES */
@media only screen and (max-width: 649px){
    .contentWrapper label{
        font-size: 1.2rem;
    }
    .form{
        padding: 5vw 2vw;
        width: 70vw;
        --vertical-padding: 2vw;
    }
    
    .header h2{
        font-size: 2.4rem;
        letter-spacing: 0.06rem;
    }
    .header h4{
        letter-spacing: 0.03rem;
        font-size: 1.1rem;
        padding-bottom: 2vw;
    }
    
    .contentWrapper{
        min-height: 35vw;
        padding: 2.5vw 2vw;
    }
    
    /* Full Input Styles */
    
    .contentWrapper input:not(input[type='submit']):not(input[type='hidden']), .contentWrapper select, .contentWrapper textarea{
        padding: 2vw 5% !important;
        border-radius: 6px;
        font-size: 1.2rem;
    }
    
    /* Checkbox Input Styles */
    
    .contentWrapper div[data-class="checkbox"]{
        gap: 0vw;
    }
    
    
    /* Textarea Input Styles */
    
    .contentWrapper textarea{
        resize: none;
        height: 15vw;
    }
    
    /* Radio Input Styles */
    
    .contentWrapper div[data-class="radio"]{
        gap: 2vw;
    }
    
    
    /* Date Input Styles */
    
    .contentWrapper div[data-class="date"]{
        gap: 2vw;
    }

    /* Label styles */
    
    /* Half Input / Label Styles */
    
    .contentWrapper div[data-class="half-input"] input:not(input[type='submit']):not(input[type='hidden']){
        padding: 0.5vw 2.5%;
    }
    
    /* Nav Buttons */
    
    .navButtonsWrapper{
        font-size: 1.5rem;
    }
    
    .navButton{
        width: 42%;
        padding: 1.4vw 0;
        border-radius: 5px;
    }
}